nav{
    background-color: black;
    color:bisque;
    height: 60px;
    width:100%;
    display: inline-block;
    border-radius: 8px;
}
h1{
    display: inline-block;
    margin: 0%;
    margin-top: 15px;
    margin-left:15px;
    
}
li{
    color: rgba(62, 62, 202, 0.819);
    display: inline;
    cursor: pointer;
}
ul{
    display: inline;
    margin-left:65%;
}
.search input{
    height:30px;
    width: 60%;
    border-radius: 10px;
    margin:40px;
    margin-left: 20%;
    border-color: blue;
    background: transparent;
}
.search ::placeholder{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.one{
    height: 350px;
    width: 300px;
    display: inline-block;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    margin-left: 10%;
}
.one img{
    display: inline-block;
    height: 300px;
    width:250px;
    margin-left: 8%;
    margin-top: 4%;
}
p{
    display: inline;
    font-size: larger;
    padding-left: 50px;
    padding-bottom: 20px;
    color: bisque;
}
.two{
    height: 350px;
    width: 300px;
    display: inline-block;
    border-style: solid;
    border-color: blue;
    border-radius:10px;
    margin-left: 10%;

}
.two img{
    display: inline-block;
    height: 300px;
    width:250px;
    margin-left: 8%;
    margin-top: 4%;
}
.three{
     height: 350px;
    width: 300px;
    display: inline-block;
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    margin-left: 10%;
}
.three img{
    display: inline-block;
    height: 300px;
    width:250px;
    margin-left: 8%;
    margin-top: 4%;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("perfume-promo-background-with-glass-bottle-free-vector.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4px);      
    transform: scale(1.1); 
    z-index: -1;
}
.about{
    height: 300px;
    width:100%;
}
#one{
    color: rgba(20, 33, 210, 0.81);
    display: block;
    text-align: center;
    text-decoration: underline;
}
#two{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: center;
    display: block;
}
#three{
    color: rgba(20, 33, 210, 0.81);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: blanchedalmond;
    font-family:'Times New Roman', Times, serif;
    font-size: medium; 
    margin: 0%;
    margin-top: 4px;
}
li:hover{
    color: bisque;
}